<a href="https://colab.research.google.com/github/Kishore192/Machine-Learning/blob/main/Project_2_Classification_of_Customers_using_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df=data.drop(['User ID'],axis=1) #removing unwanted column

In [ ]:
df['Gender']=df['Gender'].apply({'Male':1,'Female':2}.get)

In [ ]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [ ]:
x=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75) #75% of data for training and rest 25% of data for testing

creating a ML model using KNN algorithm

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5) #n_neighbors is value of K=5

In [ ]:
#training - .fit()
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
#prediction - .predict()
y_pred=knn.predict(x_test)

In [ ]:
y_pred

array([0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1])

In [ ]:
#calculating the accuracy of the ML model
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [ ]:
print(cm)

[[50  4]
 [21 25]]

In [ ]:
print(ac)

0.75

H.W. Calculate the result of purchase for a new customer

In [ ]:
new_data={'Gender':0,'Age':26,'EstimatedSalary':150000}

In [ ]:
index=[1]
my_data=pd.DataFrame(new_data,index)

In [ ]:
my_data

   Gender  Age  EstimatedSalary
1       0   26           150000

calculating the result of purchase for a new customer

In [ ]:
y_pred=knn.predict(my_data)

In [ ]:
print('the purchase result of new customer is',y_pred)

the purchase result of new customer is [1]